$base-font-size: 14px;
$base-font-stack: Helvetica, sans-serif;

$primary-color: #333;

html {
  font-size: $base-font-size;
}

body {
  font: 100% $base-font-stack;
  margin: 0;
  padding: 0;
}

nav {
	a:before {
		display: inline-block;
		content: "·";
		width: 10px;
		text-align: center;
	}

	a:first-child:before {
		display: none;
	}
}

* {
  box-sizing: border-box;
}

.row div {
	text-transform: uppercase;
	text-align: center;
	background-color: #ccc;
	border-radius: 5px;	
	margin: 5px;
	padding: 5px;
}

